body {
  background-color: #EAE7DC;
}

.cardImage {
  width: 100%;
  height: 30vh;
  object-fit: cover;
  background-position: center;
  border: 2px solid #D8C3A5;
}

.productDetailsImg {
  width: 400px;
  height: 300px;
}

.detailsMain {
  background-color: #EAE7DC;
}

.cardDiv h5 {
  font-weight: 600;
}

.featured-carousel {
  width: 100%;
  height: 450px;
  position: relative;
}

.featured-items-header {
  font-family: 'Knewave', cursive;
  font-size: 20px;
  font-weight: 600;
  color: #8E8D8A;
  /* text-decoration: underline; */
}

.image-slide {
  left: 50%;
  transform: translate(-50%);
  height: 45vh;
  width: 50vw;
  /* transition: background-image .3s ease-in-out; */
  transition: all 1s ease;
  position: absolute;
}
.image-slide.slideFeaturedDiv {
  left:23%;
  position: absolute;
  height: 45vh;
  width: 50vw;
}

/* .featured-longDescription {
  position: relative;
} */

.image-slide-text {
  position: absolute;
  opacity: 0;
  right: 0;
  transform: translate(32%);
  width: 0%;
  height: 87%;
  transition: all 1s ease;
  overflow: hidden;
  background-color: #D8C3A5;
}

.image-slide-text.image-slide-text-show {
  position: absolute;
  right: 25%;
  width: 50%;
  height: 87%;
  opacity: 1;
  /* overflow: scroll; */
  background-color: #D8C3A5;
  border: 1px solid black;
  border-radius: 5px;
}

.carouselSpecs {
  height: 84px;
}

.carouselSpecs > ul {
  min-width: 150px;
  margin-left: 20px;
}

.carouselSpecs > li {
  display: inline;
  font-size: 12px;
}

.carouselDesc.carouselDesc-show {
  opacity: 1;
}

.slide-arrow {
  width: 70px;
  color: maroon;
  cursor: pointer;
  font-size: 2rem;
  position: absolute;
}

.slide-arrow.right {
  right: 1rem;
}

.slide-arrow.left {
  left: 1rem;
}

.card-horizontal {
    display: flex;
    flex: 1 1 auto;
}

.cartImageDiv {
  width: 300px;
  height: 150px;
}

.header {
  background-image: url('https://wallpaperplay.com/walls/full/8/a/f/203185.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-color: #EAE7DC;
  border: 2px solid #D8C3A5;
  border-radius: 5px;
  height: 20vh;
}

.headerTitle {
  font-family: 'Knewave', cursive;
  font-size: 36px;
  font-weight: 500;
  color: rgba(213, 243, 105, 0.637);
  font-style: italic;
}

.categoriesContainer {
  border: 2px solid #D8C3A5;
  margin-top: 5px;
  background-color: maroon;
}

.productListItems {
  margin-top: 5px;
  margin-bottom: 5px;
}

.categoriesSections {
  /* font-family: 'Open Sans', sans-serif; */
  font-size: 18px;
  font-weight: 700;
  color: rgba(213, 243, 105, 0.637)!important;
}

.productDetailsBtn {
  background-color: maroon;
  color: white;
  border: 1px solid rgba(213, 243, 105, 0.637);
}

.main {
  background-color: #EAE7DC;
}

.itemsInCart {
  font-size: 20px;
}

.total-price {
  font-size: 18px;
}

.order-total {
  font-size: 22px;
  font-weight: 600;
  font-style: italic;
}

.cartBadge {
  position: absolute;
  border-radius: 10px;
}

.eggshellWhite{
  background-color: #EAE7DC;
}

.darkVanilla {
  background-color: #D8C3A5;
}

.taupeGray {
  background-color: #8E8D8A;
}

.lightJellyBeanRed {
  background-color: #E98074;
}

.jellBeanRed {
  background-color: #E85A4F;
}

.cardDiv {
  border: 2px solid #D8C3A5;
  background-color: #D8C3A5;
}
